html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: white;
    background-image: url("../bg/bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #3c3c3c;
    }
}
