html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: white;
  background-image: url("../bg/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #3c3c3c;
  }
}
